<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">LIST OF WAREHOUSES</h5>
</header>

<section class="section-space" id="PDF">
  <table id="excel-table" class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">WAREHOUSE CODE</th>
        <th scope="col">WAREHOUSE NAME</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">MANAGER</th>
        <th scope="col">PHONE</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata; let i=index">
        <td>{{tb.WAREHOUSECODE}}</td>
        <td><a (click)="Transfer(i)">{{tb.NAMEOFWAREHOUSE}}</a></td>
        <td>{{tb.ADDRESS}}</td>
        <td>{{tb.NAMEOFMANAGER}}</td>
        <td>{{tb.PHONE}}</td>
        <td> <button class="btn btn-success buttons-style  w-100 " (click)="openSm(content1,i);">Edit</button>
          <button class="btn btn-success buttons-style  w-100 " (click)=openSm2(content2,i)>Remove</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/AddNewWarehouse">Add</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " (click)="exportexcel()">Actions</button>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (submit)="onCourseSend()">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-4 col-form-label">WAREHOUSE CODE:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail" placeholder="" value="{{WAREHOUSECODE}}"
                  required disabled>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-4 col-form-label">NAME OF WAREHOUSE:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail" [(ngModel)]="NAMEOFWAREHOUSE"
                  name="NAMEOFWAREHOUSE" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-4 col-form-label">NAME OF MANAGER:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail" [(ngModel)]="NAMEOFMANAGER" name="NAMEOFMANAGER"
                  placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">

          </div>
          <div class="col-md-12">
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-4 col-form-label">ADDRESS:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail" [(ngModel)]="ADDRESS" name="ADDRESS"
                  placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-4 col-form-label">PHONE:</label>
              <div class="col-sm-8">
                <input type="tel" class="form-control" id="inputEmail" [(ngModel)]="PHONE" name="PHONE" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success buttons-style  w-100 "
                  (click)="UpdatedAuto()">Save</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success buttons-style  w-100 ">CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Edit</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="openXl(content) ">Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Remove</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Delete()>Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
