<div class="container-fluid">
  <div class="section_header">
    <header class="header-section-bg-color ">
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-center" style="margin: auto;">STOCK DOCUMENT</h5>
        </div>
        <div class="col-md-6">
          <h5 class="text-center" style="margin: auto;">SALES DOCUMENT</h5>
        </div>
      </div>
    </header>
    <div class="row" style="margin-top: 8%;">
      <div class="col-md-6">
        <button class="btn btn-success buttons-style  w-100" routerLink="/ListOfEntryVouchers">ENTRY VOUCHERS</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/ListOfExitVouchers">EXIT VOUCHERS</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/StockMovementList">MOVEMENT OF STOCK</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/ListofWarehouse">WAREHOUSE</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-success buttons-style  w-100" routerLink="/InvoiceList">INVOICES</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/InvoiceList">DELIVERY FORM</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/ListRules">PAYMENT</button>
        <button class="btn btn-success buttons-style  w-100" routerLink="/SaleHistory">SALES HISTORY</button>
      </div>
    </div>
  </div>
</div>
