#logo {
  width: 100px;
  height: 100px;
}

#logodiv1 {
  margin-left: 0%;
}

#logodiv2 {
  margin-right: 0%;
}

hr.new5 {
  border: 5px solid #90c226;
  border-radius: 5px;
  margin: 3%;
}

.row {
  margin-top: 1%;
}





#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 100%;

}

#containerIntro h1,
#containerIntro p {
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

#box1 {
  border: 3px solid #90c226;
  height: 80px;
  width: 5px;

}

#box2 {
  border: 3px solid #90c226;
  height: 80px;
  width: 5px;

}

#box3 {
  border: 3px solid #90c226;
  height: 80px;
  width: 5px;

}

#box4 {
  border: 3px solid #90c226;
  height: 80px;
  width: 5px;

}
