<div class="container">
  <div class="row">
    <div class="col-2" id="logodiv1">
      <img src="../../../assets/logo.jpg" alt="NO photo" id="logo">
    </div>
    <div class="col-8" style="text-align: center;">
      <h3 style="color: #90c226; margin-bottom: 0%;">DIARE GROUPE INDUSTRIE SARL</h3> <br>
      <p style="color: #54a020; margin-top: 0%;"> Kankan car station. Madina is walking. Route du Niger.Commune de
        Matam. Republic of Guinea. <br>
        Phone:. 621 36 47 21/664 20 10 14 </p>
    </div>
    <div class="col-2" id="logodiv2">
      <img src="../../../assets/logo.jpg" alt="NO photo" id="logo">
    </div>
  </div>
</div>

<hr class="new5">

<div class="container">

  <div class="row">
    <div class="col-3" id="logodiv1">

    </div>
    <div class="col-6" style="text-align: center;">


    </div>
    <div class="col-3" style="color: #54a020">
      <b>DATE:</b> <br>
      RECIEVED No.:
    </div>
  </div>

  <div class="row">
    <div class="col-3" id="logodiv1" style="color: #54a020">
      <h4>RECEIPT:</h4>
    </div>
    <div class="col-6">


    </div>
    <div class="col-3">

    </div>
  </div>

  <!-- Rounded corner square start -->

  <div id="rcorners2">
    <div class="row">
      <div class="col-3" id="logodiv1">

      </div>
      <div class="col-6" style="text-align: center;">


      </div>
      <div class="col-3" style="color: #54a020; border: 2px solid #54a020;">
        <b>AMOUNT: 25,250,000 GNF</b>
      </div>
    </div>

    <div class="row">
      <div class="col-6" id="containerIntro" style="color: #54a020; justify-content: space-between;">
        CUSTOMER CODE: CL0056 <br> <br>
        <h1>RECIEVED FORM:</h1>
        <p>Diallo El hadj Alphadio</p> <br> <br> <br>
        <h1>AMOUNT IN LETTER:</h1>
        <p>twenty five million Guinean francs</p>
      </div>
      <div class="col-3" style="text-align: center;">


      </div>
      <div class="col-3">

      </div>
    </div>

    <div class="row" style="margin-top: 5%;">
      <div class="col-6" id="containerIntro" style="color: #54a020; justify-content: space-between;">

        <h1>PAYMENT CHOICE:</h1>
        <p>CHECK</p>

      </div>
      <div class="col-3" id="containerIntro" style="color: #54a020;">
        <h1>BANK:</h1>
        <p>ORABANK</p>

      </div>
      <div class="col-3">

      </div>
    </div>

    <div class="row" style="margin-top: 1%;">
      <div class="col-6" id="containerIntro" style="color: #54a020; justify-content: space-between;">

        <h1>DETAILS:</h1>
        <p>no. check: 0067897</p>

      </div>
      <div class="col-3">


      </div>
      <div class="col-3">

      </div>
    </div>


    <div class="container">
      <div class="row" style="padding-right: 2px; margin-top: 5%;">
        <div class="col-sm" id="box1" style="margin-right: 8px; color: #54a020; text-decoration-line: underline; ">
          CASHIER
        </div>
        <div class="col-sm" id="box2" style="margin-right: 8px; color: #54a020; text-decoration-line: underline; ">
          ACCOUNTING
        </div>
        <div class="col-sm" id="box4" style="margin-right: 8px; color: #54a020; text-decoration-line: underline; ">
          CUSTOMER
        </div>
      </div>
    </div>

  </div>
