<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">NEW INVOICE</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-3 padding-colm-set ">
      <label for="sel1" class="text-color ">FACT NUMBER:</label>
      <label></label>
    </div>
    <div class="col-md-3 padding-colm-set ">
      <label for="sel1" class="text-color ">WAREHOUSE:</label>
    </div>
    <div class="col-md-3 padding-colm-set ">
      <label for="sel1" class="text-color ">DATED:</label>
      <label></label>
    </div>
  </div>
</section>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-3 padding-colm-set ">
      <div class="form-group">
        <label for="exampleInputEmail1">LAST NAME</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
    </div>
    <div class="col-md-3 padding-colm-set ">
      <div class="form-group">
        <label for="exampleInputEmail1">FIRST NAME</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
    </div>
    <div class="col-md-3 padding-colm-set ">
      <div class="form-group">
        <label for="exampleInputEmail1">PHONE</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
    </div>
    <div class="col-md-3 padding-colm-set ">
      <div class="form-group">
        <label for="exampleInputEmail1">ADDRESS</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
    </div>
    <div class="col-md-4 padding-colm-set ">
      <div class="form-group">
        <label for="exampleInputEmail1">E-MAIL</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
    </div>
  </div>
</section>
<section class="section-space">
  <table id="customers" class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">DESCRIPTION</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">UNITS</th>
        <th scope="col">SELLING PRICE</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata">
        <td>{{tb.Teachers}}</td>
        <td>{{tb.Subjects}}</td>
        <td>{{tb.TAI}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">Remove</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">To cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
