tr:nth-child(even) {
  background-color: #eef4e8;
}

tr:nth-child(odd) {
  background-color: #dbe9cd;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.section-space {
  padding-top: 50px;
}

select {
  border-radius: 0px;
  border: 2px solid #90c226;
}

.border-color-set {
  border: 3px solid #54a020;
  padding: 0px 5px;
  margin-top: 2%;
}

.padding-colm-set {
  padding: 35px;
}

.border-left {
  border-left: 2px solid #54a020 !important;
}

.header-section-bg-color {
  border: 6px solid #90c226;
  background-color: #54a020;
  padding: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
