<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">NEW INVOICE</h5>
</header>
<form ngNativeValidate (submit)="onCourseSend()">
  <section class="border-color-set">
    <div class="row">
      <div class="col-md-4 padding-colm-set ">
        <label for="sel1" class="text-color ">WAREHOUSE:</label>
        <select class="form-control" id="sel1" [(ngModel)]="Warehouse" name="Warehouse" required>
          <option>Warehouse Select</option>
          <option *ngFor="let tb of tabledata; let i=index">{{tb.NAMEOFWAREHOUSE}}</option>
        </select>
      </div>
      <div class="col-md-4 padding-colm-set ">
        <label for="sel1" class="text-color ">DATED:</label>
        <label style="margin-left: 5%;">{{ today | date:'shortDate' }} </label>
        <label></label>
      </div>
    </div>
  </section>
  <section class="border-color-set">
    <div class="row">
      <div class="col-md-3 padding-colm-set ">
        <div class="form-group">
          <label>LAST NAME</label>
          <input type="text" class="form-control" [(ngModel)]="LastName" name="LastName" required>
        </div>
      </div>
      <div class="col-md-3 padding-colm-set ">
        <div class="form-group">
          <label>FIRST NAME</label>
          <input type="text" class="form-control" [(ngModel)]="FirstName" name="FirstName" required>
        </div>
      </div>
      <div class="col-md-3 padding-colm-set ">
        <div class="form-group">
          <label>PHONE</label>
          <input type="text" class="form-control" [(ngModel)]="Phone" name="Phone" required>
        </div>
      </div>
      <div class="col-md-3 padding-colm-set ">
        <div class="form-group">
          <label>ADDRESS</label>
          <input type="text" class="form-control" [(ngModel)]="Address" name="Address" required>
        </div>
      </div>
      <div class="col-md-4 padding-colm-set ">
        <div class="form-group">
          <label>E-MAIL</label>
          <input type="text" class="form-control" [(ngModel)]="Email" name="Email" required>
        </div>
      </div>
      <div class="col-md-4 padding-colm-set ">
        <label for="sel1" class="text-color ">Customer:</label>
        <select class="form-control" id="sel1" required>
          <option>Customer Select</option>
          <option *ngFor="let tb of tabledata1; let i=index">{{tb.FirstName}}</option>
        </select>
      </div>
    </div>
  </section>
  <section class="section-space">
    <table id="customers" class="display table table_size table_background" style="width:100%">
      <thead>
        <tr class="home-page-color-bg">
          <th scope="col">DESCRIPTION</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">UNITS</th>
          <th scope="col">SELLING PRICE</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tb of table12">
          <td>{{tb.DESCRIPTION}}</td>
          <td>{{tb.AMOUNT}}</td>
          <td>{{tb.UNIT}}</td>
          <td>{{tb.SELLINGPRICE}}</td>
          <td>{{tb.TOTAL}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="home-page-color-bg">
          <th scope="col">TOTAL AMOUNT TO PAY</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">{{TotalAdd}}</th>
        </tr>
      </tfoot>
    </table>
  </section>
  <section>
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">

          </div>
          <div class="col-md-2">

          </div>
        </div>

      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success buttons-style  w-100 " type="submit">Save</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success buttons-style  w-100 " type="reset">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
