<div class="section_header" style="width: 50%;">
  <header class="header-section-bg-color ">
    <h5 class="text-center" style="margin: auto;">SALES DOCUMENTS</h5>
  </header>
  <div class="row" style="margin-top: 8%;">
    <button class="btn btn-success buttons-style  w-50" routerLink="/InvoiceList">INVOICES</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/InvoiceList">DELIVERY FORM</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/ListRules">PAYMENT</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/SaleHistory">SALES HISTORY</button>
  </div>
</div>
