<div class="section_header" style="width: 50%;">
  <header class="header-section-bg-color ">
    <h5 class="text-center" style="margin: auto;">SALES DOCUMENTS</h5>
  </header>
  <div class="row" style="margin-top: 8%;">
    <button class="btn btn-success buttons-style  w-50">INVOICES</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50">DELIVERY FORM</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50">REGULATIONS</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50">SALES HISTORY</button>
  </div>
</div>
