<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">LIST OF CheckOuts</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-4 padding-colm-set ">
      <label for="sel1" class="text-color ">PERIOD:</label>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">From:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">To:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CLIENT NAME:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">1</option>
      </select>
      <label for="sel1" class="text-color ">CUSTOMER CODE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">1</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">RECEIPT NUMBER:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">1</option>
      </select>
      <label for="sel1" class="text-color ">BANK // CASH</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">1</option>
      </select>
      <button class="btn btn-success buttons-style  w-50 " style="float: right; margin-top: 5%;">APPLY FILTER</button>
    </div>
  </div>
</section>
<section class="section-space" id="PDF">
  <table id="excel-table" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">DATED</th>
        <th scope="col">RECEIPT No</th>
        <th scope="col">WORDING</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">CATEGORY</th>
        <th scope="col">PAYMENT METHOD</th>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata; let i=index">
        <td>{{tb.Date}}</td>
        <td>{{tb.RN}}</td>
        <td>{{tb.Wording}}</td>
        <td>{{tb.Amount}}</td>
        <td>{{tb.EXPENDITURE}}</td>
        <td>{{tb.CM}}</td>
        <td> <button class="btn btn-success buttons-style  w-50 " (click)="openSm(content1,i);"><i class="fa fa-pencil"
              aria-hidden="true"></i></button>
          <button class="btn btn-success buttons-style  w-50 " (click)=openSm2(content2,i)><i class="fa fa-trash-o"
              aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/NewCheckout">New Checkout
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " (click)="exportexcel()">Actions</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (submit)="onCourseSend()">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">RECEIPT No:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" value="{{RN}}" required disabled>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">AMOUNT:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="Amount" name="Amount" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">WORDING:</label>
              <div class="col-sm-8">
                <textarea type="text" class="form-control" placeholder="" [(ngModel)]="Wording" name="Wording"
                  required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Date:</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" placeholder="" [(ngModel)]="Date" name="Date" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">TYPE OF EXPENDITURE:</label>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="EXPENDITURE" name="EXPENDITURE">
                  <option>User Select</option>
                  <option>Fule</option>
                  <option>Boxes</option>
                  <option>Milk</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">CASH PAYMENT METHOD:</label>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="CM" name="CM" required>
                  <option>Chose PAYMENT METHOD</option>
                  <option>Cash</option>
                  <option>Bank Transfer</option>
                  <option>Mobile Money</option>
                  <option>Cheques</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success buttons-style  w-100 " (click)=UpdatedAuto()>Save</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success buttons-style  w-100 " type="reset">CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Edit</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="openXl(content) ">Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Remove</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Delete()>Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
