<div class="section_header" style="width: 50%;">
  <header class="header-section-bg-color ">
    <h5 class="text-center" style="margin: auto;">STOCK DOCUMENT</h5>
  </header>
  <div class="row" style="margin-top: 8%;">
    <button class="btn btn-success buttons-style  w-50" routerLink="/ListOfEntryVouchers">ENTRY VOUCHERS</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/ListOfExitVouchers">EXIT VOUCHERS</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/StockMovementList">MOVEMENT OF STOCK</button>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-success buttons-style  w-50" routerLink="/ListofWarehouse">WAREHOUSE</button>
  </div>
</div>
