<section class="main container-set">
  <div class="card">
    <div class="card-header">
      ADD EXPENSES
    </div>
    <div class="card-body">
      <div class="regirstration-box">
        <form method="post" ngNativeValidate (submit)="onCourseSend()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Referance:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="" value="{{random}}" required>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" placeholder="" [(ngModel)]="Date" name="Date" required>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Amount:</label>
                <div class="col-sm-8">
                  <input type="tel" class="form-control" placeholder="" [(ngModel)]="Amount" name="Amount" required>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Note:</label>
                <div class="col-sm-8">
                  <input type="tel" class="form-control" placeholder="" [(ngModel)]="Note" name="Note" required>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category:</label>
                <div class="col-sm-8">
                  <select class="form-control" id="sel1" [(ngModel)]="Category" name="Category" required>
                    <option>ADMINISTRATOR</option>
                    <option>COMMERCIAL</option>
                    <option>VISITOR</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-success buttons-style  w-50 " style="float:right">Save</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-success buttons-style  w-50 " type="reset" style="float:right">CANCEL</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
