<section class="main container-set">
  <div class="card">
    <div class="card-header">
      ADD NEW CheckOut
    </div>
    <div class="card-body">
      <div class="regirstration-box">
        <form method="post" ngNativeValidate (submit)="onCourseSend()">
          <div class="row">
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">RECEIPT No:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" value="RC-{{random}}" required>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">AMOUNT:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="Amount" name="Amount" required>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">WORDING:</label>
                  <div class="col-sm-8">
                    <textarea type="text" class="form-control" placeholder="" [(ngModel)]="Wording" name="Wording"
                      required></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Date:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" placeholder="" [(ngModel)]="Date" name="Date" required>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">TYPE OF EXPENDITURE:</label>
                  <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="EXPENDITURE" name="EXPENDITURE">
                      <option>User Select</option>
                      <option>Fule</option>
                      <option>Boxes</option>
                      <option>Milk</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">CASH PAYMENT METHOD:</label>
                  <div class="col-sm-8">
                    <input type="radio" [(ngModel)]="CM" name="CM" value="male" (click)=openSm(content)> Cash<br>
                    <input type="radio" [(ngModel)]="CM" name="CM" value="female" (click)=openSm1(content1)> Bank
                    Transfer<br>
                    <input type="radio" [(ngModel)]="CM" name="CM" value="female1" (click)=openSm2(content2)> Mobile
                    Money<br>
                    <input type="radio" [(ngModel)]="CM" name="CM" value="other" (click)=openSm3(content3)> Cheques
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-success buttons-style  w-100 ">Save</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-success buttons-style  w-100 ">CANCEL</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cash</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please Enter The Amount</p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">AMOUNT:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Submit()>Submit</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Bank Transfer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please Enter The Transfer Number</p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">AMOUNT:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Submit()>Submit</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Mobile Money</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Enter The Amount You Need To Pay</p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">AMOUNT:</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" placeholder="" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Submit()>Submit</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cheques</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Please Enter The Cheque Number</p>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Number:</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" placeholder="" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Submit()>Submit</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
