<!-- This example requires Tailwind CSS v1.4.0+ -->
<div class="relative bg-white md:border-2">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-4 md:space-x-10">
      <div class="">
        <a routerLink=" " target="_blank" class="flex">
          <img src="../assets/logo.jpg" class="w-16">
        </a>
      </div>
      <nav class=" md:flex space-x-4">
        <div class="dropdown">
          <a routerLink="#"
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">Client</a>
          <div class="dropdown-content">
            <a routerLink="CustomerList">List of clients</a>
            <a routerLink="RegisterCustomer">New customer</a>
          </div>
        </div>
        <div class="dropdown">
          <a
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">Articles</a>
          <div class="dropdown-content">
            <a routerLink="AddArticals">Add Artical</a>
            <a routerLink="ListofArticals">Artical List</a>
          </div>
        </div>
        <div class="dropdown">
          <a routerLink="SaleDocuments"
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">Sale
            Documents</a>
          <div class="dropdown-content">
            <a routerLink="InvoiceList">List of Invoices</a>
            <a routerLink="NewInvoice">New Invoice</a>
            <a routerLink="ListRules">List of regulations</a>
            <a routerLink="NewRules">New Rules</a>
            <a routerLink="SaleHistory">Sales history</a>
          </div>
        </div>
        <div class="dropdown">
          <a routerLink="StockDocument"
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">Stock
            Documents</a>
          <div class="dropdown-content">
            <a routerLink="ListOfEntryVouchers">Entry voucher</a>
            <a routerLink="StockMovementList">Movement of stock</a>
            <a routerLink="ListofWarehouse">Warehouse</a>
            <a routerLink="ListCheckout">Checkout</a>
          </div>
        </div>
        <div class="dropdown">
          <a
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">User</a>
          <div class="dropdown-content">
            <a routerLink="UserList">Users list</a>
            <a routerLink="AddUser">New user</a>
            <a routerLink="UserAccess">Access control</a>
          </div>
        </div>
        <div class="dropdown">
          <a
            class="text-sm leading-6 font-medium text-gray-500 focus:outline-none hover:text-indigo-900 transition ease-in-out duration-150">Expences</a>
          <div class="dropdown-content">
            <a routerLink="ExpensesList">List of expenses</a>
            <a routerLink="Expenses">New expense</a>
          </div>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
