<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">SALES HISTORY</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-3 padding-colm-set ">
      <label for="sel1" class="text-color ">PERIOD:</label>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">From:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">To:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
    </div>
    <div class="col-md-3 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">DOCUMENT No:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.CC}}</option>
      </select>
      <label for="sel1" class="text-color ">ARTICLE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.RC}}</option>
      </select>
    </div>
    <div class="col-md-3 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">UNIT PRICE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.Amount}}</option>
      </select>
      <label for="sel1" class="text-color ">AMOUNT:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.Amount}}</option>
      </select>
    </div>
    <div class="col-md-3 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER CODE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.CC}}</option>
      </select>
      <label for="sel1" class="text-color ">CLIENT NAME</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.CN}}</option>
      </select>
      <button class="btn btn-success buttons-style  w-50 " style="float: right; margin-top: 5%;">APPLY FILTER</button>
    </div>
  </div>
</section>
<section class="section-space" id="PDF">
  <table id="excel-table" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">DATED</th>
        <th scope="col">DOCUMENT No</th>
        <th scope="col">CUSTOMER CODE</th>
        <th scope="col">CUSTOMER'S NAME AND NAME</th>
        <th scope="col">ARTICLE</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">UNTAIRE PRICE</th>
        <th scope="col">TOTAL AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata; let i=index">
        <td>{{tb.Date}}</td>
        <td>{{tb.CC}}</td>
        <td>{{tb.CN}}</td>
        <td>{{tb.RC}}</td>
        <td>{{tb.Checkout}}</td>
        <td>{{tb.Amount}}</td>
        <td>{{tb.Bank}}</td>
        <td>{{tb.Amount}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">

        <div class="col-md-2">
             <button class="btn btn-success buttons-style  w-100 " (click)="openSm3(content3);">Actions</button>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content3 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Download</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <div class="modal-body">
        <p>What Do You Need</p>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)=SavePDF()>PDF</button>
        <button type="button" class="btn btn-success" (click)=exportexcel()>Excel</button>
      </div>
</ng-template>
