<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">LIST OF User</h5>
</header>

<section class="section-space" id="PDF">
  <table id="excel-table" class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">USER CODE</th>
        <th scope="col">LAST NAME AND FIRST NAME</th>
        <th scope="col">PHONE</th>
        <th scope="col">FUNCTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata; let i=index">
        <td>{{tb.UserCOde}}</td>
        <td>{{tb.Name}}</td>
        <td>{{tb.Phone}}</td>
        <td>{{tb.Function}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/AddUser">Add</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " (click)="exportexcel()">Actions</button>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">Edit</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">Remove</button>
        </div>
      </div>
    </div>
  </div>
</section>
