<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">LIST OF ENTRY VOUCHERS</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-4 padding-colm-set ">
      <label for="sel1" class="text-color ">PERIOD:</label>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">From:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
      <div class="col-md-12">
        <label for="birthday" class="text-color ">To:</label>
        <input type="date" class="form-control" id="" name="">
      </div>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">PROVEN WAREHOUSE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.Warehouse}}</option>
      </select>
      <label for="sel1" class="text-color ">RECEPTION WAREHOUSE:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.Reception}}</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">GOOD NUMBER:</label>
      <select class="form-control" id="sel1">
        <option *ngFor="let tb of tabledata;">{{tb.Reception}}</option>
      </select>
      <button class="btn btn-success buttons-style  w-50 " style="float: right; margin-top: 5%;">APPLY FILTER</button>
    </div>
  </div>
</section>
<section class="section-space" id="PDF">
  <table id="excel-table" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">DATED</th>
        <th scope="col">DOCUMENT NUMBER</th>
        <th scope="col">PROVEN WAREHOUSE</th>
        <th scope="col">RECEPTION WAREHOUSE</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata; let i=index">
        <td>{{tb.Date}}</td>
        <td><a (click)=Transfer(i)>{{tb.Document}}</a></td>
        <td>{{tb.Warehouse}}</td>
        <td>{{tb.Reception}}</td>
        <td> <button class="btn btn-success buttons-style  w-100 " (click)="openSm(content1,i);">Edit</button>
          <button class="btn btn-success buttons-style  w-100 " (click)=openSm2(content2,i)>Remove</button></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/AddEntryVouchers">New entry
            voucher</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " (click)="exportexcel()">Actions</button>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (submit)="onCourseSend()">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Date:</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" placeholder="" [(ngModel)]="Date" name="Date" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">DOCUMENT NUMBER:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="Document" name="Document" required
                  disabled>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">PROVEN WAREHOUSE:</label>
              <div class="col-sm-8">
                <input type="" class="form-control" placeholder="" [(ngModel)]="Warehouse" name="Warehouse" required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">RECEPTION WAREHOUSE:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="Reception" name="Reception"
                  required>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-success buttons-style  w-100 "
                  (click)="UpdatedAuto()">Save</button>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success buttons-style  w-100 ">TO CANCEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Edit</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="openXl(content) ">Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Remove</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Delete()>Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
