<ul id="menu">
  <li><a href="#">CLIENTS</a>
    <ul>
      <a routerLink="CustomerList">List of clients</a>
      <a routerLink="RegisterCustomer">New customers</a>
    </ul>
  </li>
  <li><a href="#">ARTICLES</a>
    <ul>
      <a routerLink="ListofArticals">List of Articles</a>
      <a routerLink="AddArticals">New item</a>
    </ul>
  </li>

  <li style="padding: 0px 4px;"><a routerLink="/SaleDocuments">SALES DOCUMENTS STOCK</a>
    <ul>
      <a routerLink="InvoiceList">List of invoices</a>
      <a routerLink="NewInvoice">New invoices</a>
      <a routerLink="NewInvoice">List of regulations</a>
      <a routerLink="NewRules">New Rules</a>
      <a routerLink="NewInvoice">Sales Histroy</a>
    </ul>
  </li>
  <li><a routerLink="StockDocument">STOCK DOCUMENTS</a>

    <ul>
      <a routerLink="ListOfEntryVouchers">Entry voucher</a>
      <a routerLink="ListOfExitVouchers">Release voucher</a>
      <a routerLink="StockMovementList">Movement of Stock</a>
      <a routerLink="Warehouse">Warehouse</a>
    </ul>
  </li>
  <li><a href="#">EXPENSES</a>
    <ul>
      <a href="#">List of Expenses</a>
      <a href="#">New Expenses</a>
    </ul>
  </li>
  <li style="float: right;"><a href="#">USERS</a>
    <ul>
      <a routerLink="UserList">Users List</a>
      <a routerLink="AddUser">New Users</a>
      <a routerLink="UserAccess">Access Control</a>
    </ul>
  </li>
</ul>
<div class="border-color-set page-padding">


  <section class="header-section">
    <div class="header">
      <h1 class="text-center heading">TABLEAU DE BORD</h1>
    </div>
  </section>
  <section class="main">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-8 font-set-label">
          <label>NUMBER OF CLIENTS: 200</label>
        </div>
        <div class="col-md-10 font-set-label">
          <label>TOTAL AMOUNT OF SALES: 200,530,000 GNF</label>
        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 font-set-label">
          <label>TOTAL AMOUNT OF CASH OUTPUTS: 23,500,000 GNF</label>
        </div>
        <div class="col-md-12 font-set-label">
          <h4>AVAILABLE STOCK:</h4>
          <ul>
            <li>NON DAIRY CREAMER: 2,300 CARTONS</li>
            <li>RAIHAN: 250 CARTONS</li>
            <li>ABC PACKAGES: 50 PACKAGES</li>
            <li>GLUCOSE: 145 CARTONS</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 font-set-label">
        <h4>NUMBER OF CLIENTS: 200</h4>
        <ul>
          <li>NON DAIRY CREAMER: 5,000 CARTONS</li>
          <li>RAIHAN: 2,350 CARTONS</li>
          <li>ABC PACKAGES: 467 PACKAGES</li>
          <li>ABC CARTONS: 345 CARTONS</li>
          <li>GOOD MORNING 30 PCS: 6704 BOXES</li>
        </ul>
      </div>
    </div>
  </section>
</div>
