<div class="border-color-set page-padding">
  <section class="header-section">
    <div class="header">
      <h1 class="text-center heading">TABLEAU DE BORD</h1>
    </div>
  </section>
  <section class="main">
    <div class="row">
      <div class="col-md-4">
        <div class="card-counter primary">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">{{CL}}</span>
          <span class="count-name">Number of Clients</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-counter danger">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">{{Sales}}</span>
          <span class="count-name">Monthly Sales</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-counter success">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">{{Ex}}</span>
          <span class="count-name">Monthly Expenses</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-counter info">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">{{Stock}}</span>
          <span class="count-name">Stock </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-counter warning">
          <i class="fa fa-code-fork"></i>
          <span class="count-numbers">{{SP}}</span>
          <span class="count-name">Sales Per Products</span>
        </div>
      </div>
    </div>

  </section>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
