<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">CUSTOMER ACCOUNT</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-2 header-section-bg-color1">
      <h5 class="text-center" style="margin: auto;">CUSTOMER INFO</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Coded:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">{{Code}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">First Name:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">{{F}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Last Name:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">{{L}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Phone:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">{{P}}</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Category:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">{{C}}</label>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-2 header-section-bg-color1">
      <h5 class="text-center" style="margin: auto;">OPERATIONS</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Initial balance:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">145,000,000 Fg</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Total Billing:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">350,000,000 FG</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Total payment:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">100,000,000 FG</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 set-actionbutton">
      <button class="btn btn-success buttons-style  w-100 " (click)=exportexcel()>Actions</button>
    </div>
  </div>
</section>
<section class="section-space">
  <table id="excel-table" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg1">
        <th scope="col">DATED</th>
        <th scope="col">DOCUMENT TYPE</th>
        <th scope="col">TOTAL INVOICE</th>
        <th scope="col">TOTAL PAYMENT</th>
        <th scope="col">SALES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata1; let i=index">
        <td>{{tb.DATED}}</td>
        <td><a (click)=Transfer(i)>{{tb.DOCUMENT}}</a></td>
        <td>{{tb.Total}}</td>
        <td>{{tb.Totalp}}</td>
        <td>{{tb.GNF}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col"></th>
        <th scope="col">Total</th>
        <th scope="col">{{variable}} GNF</th>
        <th scope="col">{{variable1}} GNF</th>
        <th scope="col">{{variable2}} GNF</th>
      </tr>
    </tfoot>
  </table>
</section>
