<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">CUSTOMER ACCOUNT</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-2 header-section-bg-color1">
      <h5 class="text-center" style="margin: auto;">CUSTOMER INFO</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Coded:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Last Name:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">First Name:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Phone:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-2 margin-set">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Category:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-2 header-section-bg-color1">
      <h5 class="text-center" style="margin: auto;">OPERATIONS</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Initial balance:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Total Billing:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 home-page-color-bg1">
          <label style="margin: auto;">Total payment:</label>
        </div>
        <div class="col-md-6 set-border ">
          <label style="margin: auto;">Data</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 set-actionbutton">
      <button class="btn btn-success buttons-style  w-100 ">Actions</button>
    </div>
  </div>
</section>
<section class="section-space">
  <table id="customers" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg1">
        <th scope="col">DATED</th>
        <th scope="col">DOCUMENT TYPE</th>
        <th scope="col">TOTAL GNF INVOICE</th>
        <th scope="col">TOTAL PAYMENT GNF</th>
        <th scope="col">GNF SALES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata">
        <td>{{tb.Teachers}}</td>
        <td>{{tb.Subjects}}</td>
        <td>{{tb.TAI}}</td>
      </tr>
    </tbody>
  </table>
</section>
