<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">CUSTOMER LIST</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-4 padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER NAME AND FIRST NAME:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER CODE:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER CATEGORY:</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <button class="btn btn-success buttons-style  w-50 " style="float: right; margin-top: 5%;">APPLY FILTER</button>
    </div>
  </div>
</section>
<section class="section-space">
  <table id="customers" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">CUSTOMER CODE</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">PHONE</th>
        <th scope="col">CITY</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">CUSTOMER CATEGORY</th>
        <th scope="col">CURRENT BALANCE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata">
        <td>{{tb.CustomerCode}}</td>
        <td>{{tb.LastName}}</td>
        <td>{{tb.FirstName}}</td>
        <td>{{tb.Phone}}</td>
        <td>{{tb.City}}</td>
        <td>{{tb.Category}}</td>
        <td>{{tb.MadinaAddress}}</td>
        <td>{{tb.Civility}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <a routerLink="/RegisterCustomer">
            <button class="btn btn-success buttons-style  w-100 ">New Customer</button>
          </a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/CustomerInfo">Customer account</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 ">Actions</button>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">Edit</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success buttons-style  w-100 ">Remove</button>
        </div>
      </div>
    </div>
  </div>
</section>
