<header class="header-section-bg-color ">
  <h5 class="text-center" style="margin: auto;">CUSTOMER LIST</h5>
</header>
<section class="border-color-set">
  <div class="row">
    <div class="col-md-4 padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER NAME AND FIRST NAME:</label>
      <select class="form-control" id="sel1">
        <option>First Name</option>
        <option *ngFor="let tb of tabledata; let i = index">{{tb.FirstName}}</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER CODE:</label>
      <select class="form-control" id="sel1">
        <option>Customer Code</option>
        <option *ngFor="let tb of tabledata">{{tb.CustomerCode}}</option>
      </select>
    </div>
    <div class="col-md-4 border-left padding-colm-set ">
      <label for="sel1" class="text-color ">CUSTOMER CATEGORY:</label>
      <select class="form-control" id="sel1">
        <option>Category</option>
        <option *ngFor="let tb of tabledata">{{tb.Category}}</option>
      </select>
      <button class="btn btn-success buttons-style  w-50 " style="float: right; margin-top: 5%;">APPLY FILTER</button>
    </div>
  </div>
</section>
<section class="section-space" id="PDF">
  <table id="excel-table" #dataTable class="display table table_size table_background" style="width:100%">
    <thead>
      <tr class="home-page-color-bg">
        <th scope="col">CUSTOMER CODE</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">PHONE</th>
        <th scope="col">CITY</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">CUSTOMER CATEGORY</th>
        <th scope="col">CURRENT BALANCE</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tb of tabledata | filter:searchText; let i=index">
        <td><a (click)=Transfer(i)>{{tb.CustomerCode}}</a></td>
        <td>{{tb.LastName}}</td>
        <td>{{tb.FirstName}}</td>
        <td>{{tb.Phone}}</td>
        <td>{{tb.City}}</td>
        <td>{{tb.MadinaAddress}}</td>
        <td>{{tb.Category}}</td>
        <td>1000</td>
        <td> <button class="btn btn-success buttons-style  w-50 " (click)="openSm(content1,i);"><i class="fa fa-pencil"
              aria-hidden="true"></i></button>
          <button class="btn btn-danger buttons-style  w-50 " (click)=openSm2(content2,i)><i class="fa fa-trash-o"
              aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <a routerLink="/RegisterCustomer">
            <button class="btn btn-success buttons-style  w-100 ">New Customer</button>
          </a>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success buttons-style  w-100 " routerLink="/CustomerInfo">Customer account</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success buttons-style  w-100 " (click)="exportexcel() ">Actions</button>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngNativeValidate (submit)="onCourseSend()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>CUSTOMER CODE</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{CustomerCode}}" placeholder=""
              disabled>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>LAST NAME</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{LastName}}" placeholder=""
              [(ngModel)]="LastName" name="LastName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>FIRST NAME</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{FirstName}}" placeholder=""
              [(ngModel)]="FirstName" name="FirstName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> PHONE</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{Phone}}" placeholder=""
              [(ngModel)]="Phone" name="Phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>CITY</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{City}}" placeholder=""
              [(ngModel)]="City" name="City">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label> ADDRESS</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{Address}}" placeholder=""
              [(ngModel)]="Address" name="Address">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>CUSTOMER CATEGORY</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{Category}}" placeholder=""
              [(ngModel)]="Category" name="Category">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Civility</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" value="{{Civility}}" placeholder=""
              [(ngModel)]="Civility" name="Civility">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="UpdatedAuto()">Submit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Edit</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="openXl(content) ">Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Need To Remove</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=Delete()>Yes</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
