  <section class="main container-set">
    <div class="card">
      <div class="card-header">
        Add Entry Voucher
      </div>
      <div class="card-body">
        <div class="regirstration-box">
          <form method="post" ngNativeValidate (submit)="onCourseSend()">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Date:</label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" placeholder="" [(ngModel)]="Date" name="Date" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">DOCUMENT NUMBER:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="" [(ngModel)]="Document" name="Document"
                        required>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">PROVEN WAREHOUSE:</label>
                    <div class="col-sm-8">
                      <input type="" class="form-control" placeholder="" [(ngModel)]="Warehouse" name="Warehouse"
                        required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">RECEPTION WAREHOUSE:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="" [(ngModel)]="Reception" name="Reception"
                        required>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-success buttons-style  w-100 ">Save</button>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-success buttons-style  w-100 " type="reset">CANCEL</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
